* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.section1, .footer {
    background-color: #1F2937;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid red
}

.logo {
    font-size: 18px;
    color: #F9FAF8;
}

ul {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    list-style-type: none;
    gap: 13px;
}

ul li a {
    text-decoration: none;
    padding: 0;
}

a:hover, a:visited {
    color: inherit;
}

intro {
    display: flex;
    border: 2px solid red;
    height: 25vh;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 20px;
}

.contentLeft {
    width: 40%;
}

.awesome {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}

.cool {
    color: 18px;
    color: #E5E7EB;
}

.contentRight {
    padding: 80px;
    background-color: lightgray;
}

.button {
    border: 2px solid red;
    padding: 0 15px;
    border-radius: 5px;
    background-color: #3882F6;
    color: white;
}
