* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.section1, .footer {
    background-color: #1F2937;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.logo {
    font-size: 18px;
    color: #F9FAF8;
}

ul {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    list-style-type: none;
    gap: 13px;
}

ul li a {
    text-decoration: none;
    padding: 0;
}

a:hover, a:visited {
    color: inherit;
}

intro {
    display: flex;
    height: 30vh;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin-top: 15px;
    margin-bottom: 20px
}

.contentLeft {
    width: 40%;
}

.awesome {
    font: 48px bolder;
    color: #f9faf8;
}

.cool {
    font: 18px;
    color: #E5E7EB;
}

.contentRight {
    padding: 80px;
    background-color: darkgray;
    color: white;
}

.button {
    padding: 5px 20px;
    border-radius: 5px;
    background-color: #3882F6;
    color: white;
    margin-top: 10px;
    border: none
}

info {
    display: flex;
    background-color: white;
    height: 25vh;
    flex-direction: column;
    justify-content: space-around;
}

.rando {
    display: flex;
    font: 36px #1F2937;
    justify-content: center;
    
}

img {
    width: 110px;
    height: 110px;
    border-radius: 10px;
    border: 3px solid #3882F6;
    display: flex;
    
}

.boxContainer {
    display: flex;
    justify-content: space-around;
    width: 700px;
    margin-left: 100px;
    flex-wrap: nowrap;
}

figcaption {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section3 {
    background-color: #E5E7Eb;
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.quote {
    padding: 0 50px;
    display: flex;
    font: 36px italic #1F2937;
}

.thor {
    display: flex;
    flex-direction: row-reverse;
    padding-right: 300px;
    font-weight: bold;
}

.section4{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px 0;
    height: 10px;
    border: 2px solid #3882F6;
    border-radius: 5px;
    margin: 100px 150px;
    background-color: #3882F6;
}

.call, .signup {
    color: #f9faf8;
    display: flex;
    flex-direction: column;
}

.footer {
    color: #f9faf8;
    display: flex;
    justify-content: center;
    font-size: 8px;
    padding: 20px
}